.card-hand img {
  animation: slideIn 0.5s ease-in-out;
}

.card-hand {
  display: flex;
  gap: 2px;
  flex-wrap: wrap;
  justify-content: center;
}

.row-direction {
  flex-direction: row;
}

.column-direction {
  flex-direction: column;
}

@media (max-width: 480px) {
  .card-hand img {
    height: 6vh;
    margin-left: 0;
  }

  .card-hand {
    flex-wrap: wrap;
    gap: 2vw;
  }
}
