<div class="player1">
  <div class="card-hand" [ngClass]="{'column-direction': isColDirection, 'row-direction': !isColDirection}">
    <ng-container *ngFor="let card of getDisplayCards(); let i = index; trackBy: trackByIndex">
      <ng-container *ngIf="currentUser && cards.length - 1 === i; else normalCard">
        <nz-badge [nzCount]="getCardsSum()">
          <img [ngSrc]="findCardImage(card, i)" alt="Card" height="85" width="60" [ngStyle]="{ '--card-index': i }" />
        </nz-badge>
      </ng-container>
      <ng-template #normalCard>
        <img [ngSrc]="findCardImage(card, i)" alt="Card" height="85" width="60" [ngStyle]="{ '--card-index': i }" />
      </ng-template>
    </ng-container>
  </div>
  
  <ng-container *ngIf="currentUser">
    <h3 class="luckiest-guy-regular">{{ handName }}</h3>
  </ng-container>
  
  <ng-container *ngIf="isDealer && !currentUser">
    <h3 class="luckiest-guy-regular">Croupier</h3>
  </ng-container>
</div>