<app-header [title]="'Uno'" [canLeave]="true" [leaveLink]="'/games'"></app-header>
<div class="main-content">

  <div class="game-content">
    <app-uno-table></app-uno-table>
    @if(unoService.gameType === GameType.MULTI) {
      <nz-divider  nzPlain nzType="vertical"></nz-divider>
      <app-chat ></app-chat>
    }

  </div>

</div>

<app-modal [title]="'Fin de Partie'" [description]="unoService.unoGameState().gameWinner + ' à gagné la partie !'"
                      [okText]="'Relancer'" [cancelText]="'Quitter'"
                      [isVisible]="unoService.isGameEnded">
</app-modal>
