<app-header [title]="'Uno'" [canLeave]="true" [leaveSignal]="isLeaveModalVisible"></app-header>
<div class="main-content">

  <div class="game-content">
    <app-uno-table [gameId]="gameId" [currentPlayerId]="currentPlayerId" [orderedPlayers]="orderedPlayers" [topCard]="topCard" [direction]="direction" [playerCards]="playerCards" [playerId]="playerId" (drawCardEvent)="drawCard()" (playCardEvent)="playCard($event)" (declareEvent)="declare($event)"></app-uno-table>
    @if(gameService.gameMode === GameMode.MULTIPLAYER) {
      <nz-divider  nzPlain nzType="vertical"></nz-divider>
      <app-chat [gameService]="gameService"></app-chat>
    }

  </div>

  <app-waiting-room-modal [isVisible]="isWaitingRoomModalVisible" [errorMessage]="errorWaitingRoom" [title]="'Rejouer la partie'"
                          [gameId]="gameId" [players]="players" [initialBet]="playerBet"
                          [okText]="'Relancer'" (onOk)="handleWaitingRoomConfirmClick($event)"
                          [cancelText]="'Quitter'" (onCancel)="handleWaitingRoomLeave()"></app-waiting-room-modal>

  <nz-modal [nzVisible]="isLeaveModalVisible()" nzTitle="Déconnexion" nzCentered (nzOnCancel)="handleCancelMiddle()"
            (nzOnOk)="handleOkMiddle()">
    <ng-container *nzModalContent>
      <p>Est-tu sûr de vouloir quitter la partie ?</p>
    </ng-container>
  </nz-modal>

</div>
