<div class="game-infos">
  <button class="info" (click)="copyGameId()">
    <span nz-icon nzType="copy" style="cursor: pointer;"></span>
    {{ gameId}}
  </button>
  <p class="info">{{ gameType.toUpperCase() }}</p>
</div>

<div class="uno-table">
  <div class="left column">
    <div class="left-player">
      @if (orderedPlayers().length > 1) {
        <div class="player-infos" [class.active]="isPlayerTurn(orderedPlayers()[1].playerId)">
          <nz-badge [nzCount]="orderedPlayers()[1].hand.length">
            <img ngSrc="../../../../../assets/avatar/{{orderedPlayers()[1].avatar?.toLowerCase() || 'default'}}.png" alt="Avatar" class="avatar" height="481" width="512"/>
          </nz-badge>
          <span class="player-name">{{ orderedPlayers()[1].username }}</span>
        </div>
        <app-uno-back-hand
          [handCount]="orderedPlayers()[1].hand.length"
          [direction]="'left'">
        </app-uno-back-hand>
      }
    </div>
  </div>

  <div class="center column">
    <div class="top-player">
      @if (orderedPlayers().length > 2) {
        <div class="player-infos" [class.active]="isPlayerTurn(orderedPlayers()[2].playerId)">
          <nz-badge [nzCount]="orderedPlayers()[2].hand.length">
            <img ngSrc="../../../../../assets/avatar/{{orderedPlayers()[2].avatar?.toLowerCase() || 'default'}}.png" alt="Avatar" class="avatar" height="481" width="512"/>
          </nz-badge>
          <span class="player-name">{{ orderedPlayers()[2].username }}</span>
        </div>
        <app-uno-back-hand
          [handCount]="orderedPlayers()[2].hand.length"
          [direction]="'top'">
        </app-uno-back-hand>
      }
    </div>

    <div class="game-hand">

      <app-direction-wheel
        [direction]="direction()">
      </app-direction-wheel>

      <app-uno-card [card]="topCard()"></app-uno-card>
      <app-uno-card-back (click)="drawCard()"></app-uno-card-back>
      <div id="current-card-color"
           [ngStyle]="{'background-color': topCard().color}">
      </div>
    </div>

    <div class="bottom-player" [class.active]="isPlayerTurn(playerId())">
      <app-uno-hand [playerCards]="playerCards" (playCardEvent)="playCardEvent.emit($event)"></app-uno-hand>
    </div>
  </div>

  <div class="right column">
    @if (orderedPlayers().length > 3) {
      <app-uno-back-hand
        [handCount]="orderedPlayers()[3].hand.length"
        [direction]="'right'">
      </app-uno-back-hand>
      <div class="player-infos" [class.active]="isPlayerTurn(orderedPlayers()[3].playerId)">
        <nz-badge [nzCount]="orderedPlayers()[3].hand.length">
          <img ngSrc="../../../../../assets/avatar/{{ orderedPlayers()[3].avatar?.toLowerCase() || 'default'}}.png" alt="Avatar" class="avatar" height="481" width="512"/>
        </nz-badge>
        <span class="player-name">{{ orderedPlayers()[3].username }}</span>
      </div>
    }
  </div>
</div>
