<app-header [title]="'Poker'" [canLeave]="true" [leaveSignal]="isLeaveModalVisible"></app-header>
<div class="main-content">

  <div class="game-content">
    <div class="game-table-container">
        <app-game-table [currentPlayerId]="currentPlayerId" [orderedPlayers]="orderedPlayers" [playerCards]="playerCards" [playerId]="playerId" [river]="river"></app-game-table>
    </div>

    <div class="actions-container">
        <action-row [actions]="actions" [isActionsDisabled]="isActionDisabled" [secondaryActions]="secondaryActions"
                    [isSecondaryActionsDisabled]="isSecondaryActionsDisabled" [playerBalance]="playerBalance()" [playerBet]="playerBet"
                    [totalPot]="totalPot"
                    (placeBet)="placeBet($event)" [gameMode]="gameMode" (openChat)="open()"
                    [showCoins]="true"
                    (executeAction)="executeAction($event)" />
    </div>
  </div>

  @if(gameService.gameMode === GameMode.MULTIPLAYER) {
    <div class="chat-container">
      <app-chat [gameService]="gameService"></app-chat>
    </div>
  }

  <nz-modal [nzVisible]="isLeaveModalVisible()" nzTitle="Déconnexion" nzCentered (nzOnCancel)="handleCancelMiddle()"
            (nzOnOk)="handleOkMiddle()">
    <ng-container *nzModalContent>
      <p>Est-tu sûr de vouloir quitter la partie ?</p>
    </ng-container>
  </nz-modal>

  <app-waiting-room-modal [isVisible]="isWaitingRoomModalVisible" [errorMessage]="errorWaitingRoom" [title]="'Rejouer la partie'"
                          [gameId]="gameId" [players]="players" [initialBet]="playerBet"
                          [okText]="'Relancer'" (onOk)="handleWaitingRoomConfirmClick($event)"
                          [cancelText]="'Quitter'" (onCancel)="handleWaitingRoomLeave()"></app-waiting-room-modal>

</div>
