<app-header [title]="'Poker'" [canLeave]="true" [leaveSignal]="isLeaveModalVisible"></app-header>
<div class="main-content">

  <div class="game-content">
    <div class="game-content-table">
      <app-game-table [hands]="hands"></app-game-table>
    </div>

    <action-row [actions]="actions" [isActionsDisabled]="false" [secondaryActions]="secondaryActions"
                [isSecondaryActionsDisabled]="false" [playerBalance]="playerBalance" [playerBet]="playerBet"
                (placeBet)="placeBet($event)" [gameType]="gameType" (openChat)="open()"
                [showCoins]="true"
                (executeAction)="executeAction($event)" />

    <nz-modal [nzVisible]="isLeaveModalVisible()" nzTitle="Déconnexion" nzCentered (nzOnCancel)="handleCancelMiddle()"
              (nzOnOk)="handleOkMiddle()">
      <ng-container *nzModalContent>
        <p>Est-tu sûr de vouloir quitter la partie ?</p>
      </ng-container>
    </nz-modal>

    <app-waiting-room-modal [isVisible]="isWaitingRoomModalVisible" [errorMessage]="errorWaitingRoom" [title]="'Rejouer la partie'"
                            [gameId]="gameId ?? ''" [players]="playerNames" [initialBet]="playerBet"
                            [okText]="'Relancer'" (onOk)="handleWaitingRoomConfirmClick($event)"
                            [cancelText]="'Quitter'" (onCancel)="handleWaitingRoomLeave()"></app-waiting-room-modal>

  </div>

  <div class="ranking-content">
    <app-ranking></app-ranking>
  </div>

</div>
