
<app-header [title]="'Poker'" [canLeave]="true" [leaveSignal]="isLeaveModalVisible"></app-header>
<div class="main-content">

  <div class="game-content">
    <app-game-table [hands]="hands"></app-game-table>
    <app-ranking></app-ranking>
  </div>

  <action-row [actions]="actions" [isActionsDisabled]="false"
              [secondaryActions]="secondaryActions" [isSecondaryActionsDisabled]="currentPotAmount == 0"
              [playerBalance]="playerBalance" [playerBet]="playerBet"
              [showCoins]="true" (placeBet)="placeBet($event)"
              [gameType]="gameType" (openChat)="open()"
              (executeAction)="executeAction($event)"
  />


  <nz-modal
    [nzVisible]="isLeaveModalVisible()"
    nzTitle="Déconnexion"
    nzCentered
    (nzOnCancel)="handleCancelMiddle()"
    (nzOnOk)="handleOkMiddle()"
  >
    <ng-container *nzModalContent>
      <p>Est-tu sûr de vouloir quitter la partie ?</p>
    </ng-container>
  </nz-modal>


</div>
