<div class="actions">
  <div class="game-actions">
    <game-action-button *ngFor="let action of secondaryActions" (onCLick)="emitAction(action.gameAction)" [text]="action.text" [icon]="action.icon" [isActionDisabled]="isSecondaryActionsDisabled" [showButton]="action.condition"/>

    <app-jeton-button [playerBalance]="playerBalance" [playerBet]="playerBet" [coins]="showCoins" (placeBet)="emitPlaceBet($event)"></app-jeton-button>

    <game-action-button *ngFor="let action of actions" (onCLick)="emitAction(action.gameAction)" [text]="action.text" [icon]="action.icon" [isActionDisabled]="isActionsDisabled" [showButton]="action.condition"/>


  </div>

  <div class="other-actions">
    @if(gameMode == GameMode.MULTIPLAYER) {
      <button nz-button nzType="primary" (click)="emitOpenChat()">
        
      </button>
    }
  </div>
</div>
