<div class="actions">
  <div class="game-actions">
    <game-action-button *ngFor="let action of secondaryActions" (onCLick)="emitAction(action.gameAction)" [text]="action.text" [icon]="action.icon" [isActionDisabled]="isSecondaryActionsDisabled" [showButton]="action.condition"/>

    <app-jeton-button [playerBalance]="playerBalance" [playerBet]="playerBet" [coins]="showCoins" (placeBet)="emitPlaceBet($event)"></app-jeton-button>

      @for(action of actions; track action){
        <game-action-button
          (onCLick)="emitAction(action.gameAction)"
          [text]="action.text"
          [icon]="action.icon"
          [isActionDisabled]="isActionDisabledFor(action)"
          [showButton]="action.condition"
        />
      }
  </div>

  <div class="other-actions">
    @if(gameMode == GameMode.MULTIPLAYER) {
      <button nz-button nzType="primary" (click)="emitOpenChat()">

      </button>
    }
  </div>
</div>
