<div id="home-page">
  <div class="home-page-container">
    <button nz-button class="main-button luckiest-guy-regular rotate-left"  routerLink="/games">Jouer en tant qu'invité</button>
  </div>

  <div class="home-page-container">
      <h1 class="luckiest-guy-regular">Pogos</h1>
      <img src="../../../assets/pogos-tornado.png" alt="tonardo cards">
  </div>

  <div class="home-page-container-right">
      <button nz-button class="main-button luckiest-guy-regular rotate-right" routerLink="/login">Se connecter</button>
      <button nz-button class="main-button luckiest-guy-regular rotate-left"  routerLink="/signup">S'inscrire</button>
  </div>
</div>
