.title{
  font-size: 5em;
}

.home-button {
  width: 50%;
  height: 30%;
  font-size: 25px;
  border-radius: 10%;
  background-color: var(--secondary-bg-color);
  border-color: var(--secondary-bg-color);
  color: var(--primary-text-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
  word-wrap: break-word;
  white-space: normal;
}



.row{
  width: 100%;
  height: 100%;
}

.col-wrapper {
  display: flex;
  justify-content: center;
}

.home-inner-box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-inner-box-login-signup {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.rotate-left {
  transform: rotate(5deg) scale(0.9);
}

.rotate-right {
  transform: rotate(-5deg) scale(0.9);
}

@media screen and (max-width: 992px) {
  .home-inner-box img {
    width: 250px;
  }

  .home-inner-box .rotate-left {
    transform: none;
  }

  .home-inner-box-login-signup {
    flex-direction: row;
    justify-content: space-around;
  }

  .home-button {
    height: 45px;
    font-size: 15px;
    border-radius: 5px;
  }

}
