<div class="header">
  <div class="left">

    @if(canLeave && leaveLink) {
    <app-leave-button text="Quitter" [routerLink]="leaveLink"></app-leave-button>
    } @else if(canLeave) {
    <app-leave-button text="Quitter" (click)="showModal('leave')"></app-leave-button>
    <app-modal [isVisible]="isModalVisible('leave')" title="Quitter ❌" description="Êtes-vous sûr de vouloir quitter ?"
      okText="Oui" cancelText="Non" (onOk)="handleLeaveGame()">
    </app-modal>
    }
  </div>

  <p class="title_header luckiest-guy-regular primary-text-style">{{ title }}</p>

  <div class="right">
    <div class="actions">

      @if(isUserLoggedIn()) {
      <button nz-button class="button" nzType="primary" (click)="showModal('logout')" title="Déconnexion">
        <span nz-icon nzType="logout" nzTheme="outline"></span>
      </button>
      }
      <app-modal [isVisible]="isModalVisible('logout')" title="Déconnexion ⚠️"
        description="Êtes-vous sûr de vouloir vous déconnecter ?" okText="Oui" cancelText="Non"
        (onOk)="handleDisconnect()">
      </app-modal>

      <nz-badge [nzCount]="user().nbNotifications" nzSize="small" [nzOverflowCount]="3" [nzOffset]="[-10, -2]">
        <button nz-button nz-popover class="button" nzType="primary" nzPopoverTitle="Notifications"
          [nzPopoverContent]="contentTemplate" nzPopoverPlacement="bottom">
          <span nz-icon nzType="notification" nzTheme="outline"></span>
        </button>
      </nz-badge>
      <ng-template #contentTemplate>
        <div class="notifications">
          @for (notification of notifications(); track $index) {
          <app-notification [notification]="notification" (accept)="handleAcceptFriendship($event)"
            (denied)="handleRejectFriendship($event)" class="notifications">
          </app-notification>
          }
        </div>
      </ng-template>


      <button nz-button class="button" nzType="primary" (click)="toggleTheme()" title="Changer le thème">
        <span nz-icon [nzType]="isDarkTheme ? 'sun' : 'moon'" nzTheme="outline"></span>
      </button>
      <button nz-button class="button" nzType="primary" [disabled]="isUserLoggedIn()" title="Amis">
        <span nz-icon nzType="usergroup-add" nzTheme="outline"></span>
      </button>
    </div>
    <nz-divider class="divider" nzType="vertical"></nz-divider>
    @if(isUserLoggedIn()) {
    <button class="username-avatar" [routerLink]="'/profile'" title="Profil">
      <img [src]="'/assets/avatar/' + user().avatar.toLowerCase() + '.png'" [alt]="user().avatar" class="my-avatar" />
      <p class="username">{{ user().pseudo }}</p>
    </button>
    } @else {
    <button nz-button class="button" nzType="primary" [routerLink]="'/login'" title="Connexion">
      <span nz-icon nzType="login" nzTheme="outline"></span>
    </button>
    }
  </div>
</div>