<div class="header">
  <div class="left">
    @if(canLeave) {
    <button nz-button nzType="primary" [nzSize]="'large'" nzShape="round" class="luckiest-guy-regular"
      (click)="emitLeave()">
      <span nz-icon nzType="left-square"></span>
      Quitter
    </button>
    }
  </div>

  <p class="title_header luckiest-guy-regular">{{ title }}</p>

  <div class="right">
    <div class="actions">
      <button nz-button class="button" nzType="primary" (click)="showModal()">
        <span nz-icon nzType="logout" nzTheme="outline"></span>
      </button>
      <app-modal [isVisible]="isModalVisible" title="Déconnexion"
        description="Êtes-vous sûr de vouloir vous déconnecter ?" okText="Oui" cancelText="Non" (onOk)="handleOk()"
        (onCancel)="handleCancel()">
      </app-modal>
      <button nz-button class="button" nzType="primary">
        <span nz-icon nzType="setting" nzTheme="outline"></span>
      </button>
      <button nz-button class="button" nzType="primary">
        <span nz-icon nzType="moon" nzTheme="outline"></span>
      </button>
      <button nz-button class="button" nzType="primary" [disabled]="isUserLoggedIn()">
        <span nz-icon nzType="usergroup-add" nzTheme="outline"></span>
      </button>
    </div>
    <nz-divider class="divider" nzType="vertical"></nz-divider>
    <button class="username-avatar">
      <p class="username">{{ user.pseudo }}</p>
      <span nz-icon class="avatar" nzType="user" nzTheme="outline"></span>
    </button>
  </div>
</div>