<div class="header">
  <div class="left">
    @if(canLeave) {
      <app-leave-button text="Quitter" (click)="showModal('leave')"></app-leave-button>
      <app-modal [isVisible]="isModalVisible('leave')" title="Quitter"
        description="Êtes-vous sûr de vouloir quitter la partie ?" okText="Oui" cancelText="Non" (onOk)="handleLeaveGame()">
      </app-modal>
    }
  </div>

  <p class="title_header luckiest-guy-regular">{{ title }}</p>

  <div class="right">
    <div class="actions">

      @if(isUserLoggedIn()) {
        <button nz-button class="button" nzType="primary" (click)="showModal('logout')">
          <span nz-icon nzType="logout" nzTheme="outline"></span>
        </button>
      }
      <app-modal [isVisible]="isModalVisible('logout')" title="Déconnexion"
        description="Êtes-vous sûr de vouloir vous déconnecter ?" okText="Oui" cancelText="Non" (onOk)="handleDisconnect()">
      </app-modal>
      <button nz-button class="button" nzType="primary">
        <span nz-icon nzType="setting" nzTheme="outline"></span>
      </button>
      <button nz-button class="button" nzType="primary">
        <span nz-icon nzType="moon" nzTheme="outline"></span>
      </button>
      <button nz-button class="button" nzType="primary" [disabled]="isUserLoggedIn()">
        <span nz-icon nzType="usergroup-add" nzTheme="outline"></span>
      </button>
    </div>
    <nz-divider class="divider" nzType="vertical"></nz-divider>
    <button class="username-avatar" [routerLink]="'/profile'">
      <p class="username">{{ username }}</p>
      <span nz-icon class="avatar" nzType="user" nzTheme="outline"></span>
    </button>
  </div>
</div>
