<div id="game-actions">

  <div id="top-buttons">
    <button nz-button class="main-button luckiest-guy-regular secondary-text-style" [routerLink]="['/games', title.toLowerCase()]"
            [queryParams]="{ gameType: 'solo' }">Jouer en solo</button>
    <button nz-button class="main-button luckiest-guy-regular secondary-text-style" [routerLink]="['/games', title.toLowerCase()]"
            [queryParams]="{ gameType: 'multi' }">Jouer en multijoueur</button>
  </div>

  <div id="bottom-button">
    <button nz-button class="main-button luckiest-guy-regular secondary-text-style">Créer une partie privée</button>
  </div>
</div>
