.uno-table {
  height: 70vh;
  width: 70vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
//  background-color: var(--secondary-bg-color);
  border-radius: 8px; /* optionnel, pour adoucir */
}

/* Lors d’un survol par exemple */
.uno-table:hover {
  border-color: var(--primary-color); /* ta couleur principale */
}


.column {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items:  center;
}

.column.center{
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.game-hand{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  gap: 10px;
}

.player-infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.player-infos span{
  font-size: 1.2em;
  font-weight: bold;

}

.avatar {
  width: 40px;
  height: 40px;
}

.player-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--pogos-button-bg);
  display: flex;
  align-items: center;
  justify-content: center;

}

.left-cards, .right-cards {
  margin-top: 40px;
}

.left-player {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 250px;
}

.right-player {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 250px;
}

@media screen and (max-width: 992px) {

  .uno-table {
    width: 100vw;
  }
}
