<div class="uno-table">

  <div class="left column">
    <div class="left-player">
      <div class="player-infos">
            <img src="assets/avatar/artist.png" alt="Avatar" class="avatar">
        <span class="player-name">Xtbmz</span>
      </div>
      <app-uno-back-hand class="left-cards" [direction]="'left'"></app-uno-back-hand>
    </div>
  </div>

  <div class="center column">

    <div class="top-player">
      <div class="player-infos">
            <img src="assets/avatar/bumblebee.png" alt="Avatar" class="avatar">
        <span class="player-name">Clmzzz</span>
      </div>
      <app-uno-back-hand [direction]="'top'"></app-uno-back-hand>
    </div>

    <div class="game-hand">
      <app-uno-card></app-uno-card>
      <app-uno-card-back></app-uno-card-back>
    </div>
      <div class="bottom-player">
        <app-uno-hand></app-uno-hand>
      </div>
    </div>

  <div class="right column">
    <div class="right-player">
      <app-uno-back-hand class="right-cards" [direction]="'right'"></app-uno-back-hand>
      <div class="player-infos">
            <img src="assets/avatar/dragon.png" alt="Avatar" class="avatar">
        <span class="player-name">UniSkf</span>
      </div>
    </div>
  </div>
</div>
