<div id="game-table">
    <div class="symbols">
        <div class="icon">
            <img ngSrc="/assets/icons/coeur.png" alt="coeur" height="1024" width="1024" />
        </div>
        <div class="icon">
            <img ngSrc="/assets/icons/pique.png" alt="pique" height="512" width="512" />
        </div>
    </div>

    <div class="card-container">
        <!-- player 1 on left of the display -->
        <div class="hand-container">
            <app-card-hand [handName]="'player1'" [cards]="hands.selfHand" [currentUser]="true"
                [isColDirection]="false"></app-card-hand>
        </div>
    </div>

    <div class="symbols">
        <div class="icon">
            <img ngSrc="/assets/icons/trefle.png" alt="trefle" height="800" width="900" />
        </div>
        <div class="icon">
            <img ngSrc="/assets/icons/carreau.png" alt="carreau" height="410" width="410" />
        </div>
    </div>

</div>
