<div id="game-table">
  <!-- Coin supérieur gauche - Coeur -->
  <div class="symbol-top-left">
    <div class="icon">
      <img ngSrc="/assets/icons/coeur.png" alt="coeur" height="1024" width="1024" />
    </div>
  </div>

  <!-- Coin supérieur droit - Pique -->
  <div class="symbol-top-right">
    <div class="icon">
      <img ngSrc="/assets/icons/pique.png" alt="pique" height="512" width="512" />
    </div>
  </div>

  <!-- Coin inférieur gauche - Trèfle -->
  <div class="symbol-bottom-left">
    <div class="icon">
      <img ngSrc="/assets/icons/trefle.png" alt="trefle" height="800" width="900" />
    </div>
  </div>

  <!-- Coin inférieur droit - Carreau -->
  <div class="symbol-bottom-right">
    <div class="icon">
      <img ngSrc="/assets/icons/carreau.png" alt="carreau" height="410" width="410" />
    </div>
  </div>

  <div class="poker-table-content">
    <!-- Joueur du haut -->
    <div class="top-player-area">
      @if (orderedPlayers().length > 2) {
        <app-poker-player [pokerPlayer]="orderedPlayers()[2]" [isPlayerTurn]="isPlayerTurn(orderedPlayers()[2].playerId)"
                          [direction]="'top'"></app-poker-player>
      }
    </div>

    <!-- Zone centrale avec river et pot -->
    <div class="center-area">
      <!-- Joueur de gauche -->
      <div class="left-player-area">
        @if (orderedPlayers().length > 1) {
            <app-poker-player [pokerPlayer]="orderedPlayers()[1]" [isPlayerTurn]="isPlayerTurn(orderedPlayers()[1].playerId)"
                              [direction]="'left'"></app-poker-player>
        }
      </div>

      <!-- River (cartes communes) -->
      <div class="river-area">
        <div class="community-cards">
          @for (card of river(); let i = $index; track $index) {
            <img [ngSrc]="findCardImage(card)" alt="Card" height="85" width="60" class="community-card" />
          }
        </div>
        <!-- <div class="pot-info">
          <span class="pot-label">Pot:</span>
          <span class="pot-amount"></span>
        </div>-->
      </div>

      <!-- Joueur de droite -->
      <div class="right-player-area">
        @if (orderedPlayers().length > 3) {
            <app-poker-player [pokerPlayer]="orderedPlayers()[3]" [isPlayerTurn]="isPlayerTurn(orderedPlayers()[3].playerId)"
                              [direction]="'right'"></app-poker-player>

        }
      </div>
    </div>

    <!-- Joueur du bas (joueur actuel) -->
    <div class="bottom-player-area">
      <div class="current-player-cards" [class.active]="isPlayerTurn(playerId())">
        <app-card-hand class="player-slot" [handName]="' '" [cards]="playerCards()"
                       [currentUser]="true"></app-card-hand>
      </div>
    </div>
  </div>
</div>
