.back-button {
    position: absolute;
    top: 35px;
    left: 60px;
    color: var(--primary-text-color);
    border-radius: 7.5px;
    width: 140px;
    height: 40px;
    font-family: "Luckiest Guy", cursive;
    font-style: normal;
    font-size: 22px;
    background-color: var(--secondary-bg-color);
    box-shadow: 0 0 0.5px 0.5px;
    cursor: pointer;
    transition: transform 0.3s ease, font-size 0.3s ease;
  }

  .back-button:hover {
    background-color: var(--button-bg-hover);
    font-size: 24px;
    transform: rotate(-4deg) scale(1.5);
  }
