#header {
  width: 96%;
  height: 15vh;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
}

.title-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  text-align: center;
  z-index: 1;
}

.title_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 3%;
  font-size: 65px;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.first-div,
.col-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
}

.inner-box {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.inner-box-actions {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.actions {
  display: flex;
  align-items: center;
  height: 100%;
}

button {
  margin: 0 5px;
}

.divider {
  background-color: var(--pogos-button-bg);
}

#username {
  margin-right: 7px;
  margin-bottom: -5px;
  align-items: center;
  font-family: "Luckiest Guy", cursive;
}

#my-avatar {
  width: 1.5em;
  margin-right: 0.75em;
}

#username-avatar {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--primary-text-color);
  padding: 10px;
  border-radius: 7.5px;
  background-color: var(--secondary-bg-color);
  border: none;
  outline: none;
  margin-left: 0.8em;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.3s ease, font-size 0.3s ease;
  transform: scale(1.07);
}

#username-avatar:hover {
  transform: scale(1.09);
}

.button {
  padding: 8px;
  color: var(--primary-text-color);
  border-radius: 7.5px;
  background-color: var(--secondary-bg-color);
  border: none;
  outline: none;
  margin-right: 0.7em;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transform: scale(1.2);
}

.button:hover {
  transform: scale(1.4);
}

::ng-deep .ant-badge-count {
  background-color: red;
  font-size: 0.8em;
  box-shadow: none;
}

.notifications {
  width: 350px;
  margin: -1.5em -0.5em;
}

.no-notifications {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-top: 0.7em;
  font-size: 1.2em;
  font-family: "Luckiest Guy", cursive;
  color: var(--primary-text-color);
}

::ng-deep .ant-popover-inner {
  border-radius: 15px;
  background-color: var(--secondary-bg-color);
}

::ng-deep .ant-popover-title {
  font-size: 1.2em;
  font-family: "Lilita One", serif;
  color: var(--primary-text-color);
  border: none;
}

::ng-deep .ant-popover-inner-content {
  color: white;
}

::ng-deep .ant-modal-mask {
  background-color: rgba(0, 0, 0, 0.4) !important;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(3px);
}

::ng-deep .custom-modal .ant-modal-content {
  border-radius: 12px !important;
  background-color: transparent;
  box-shadow: none;
}

::ng-deep .custom-modal .ant-modal-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--secondary-bg-color);
  border-radius: 12px 12px 0 0;
  border-color: #000000;
}

::ng-deep .custom-modal .ant-modal-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--primary-text-color);
  margin-top: 0.4em;
  font-size: 3em;
  font-family: "Luckiest Guy", cursive;
}

::ng-deep .custom-modal .ant-modal-body {
  border-color: #fff8e6;
  background-color: var(--secondary-bg-color);
  padding: 3.5em;
  border-radius: 0 0 12px 12px;
}

.description {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.6em;
  font-family: "Luckiest Guy", cursive;
}

::ng-deep .custom-modal .ant-modal-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-top: none;
  margin-top: -3em;
}

::ng-deep .custom-modal .ant-modal-footer .ant-btn:first-child {
  margin: 0 2em;
  width: 160px;
  height: 55px;
  border-radius: 12px;
  background-color: #ff7875;
  border: none;
  outline: none;
  color: #ffffff;
  font-family: "Luckiest Guy", cursive;
  cursor: pointer;
  font-size: 1.7em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, font-size 0.3s ease;
}

::ng-deep .custom-modal .ant-modal-footer .ant-btn:first-child:hover {
  background-color: #ff4d4f;
  transform: scale(1.1);
}

::ng-deep .custom-modal .ant-modal-footer .ant-btn:last-child {
  margin: 0 2em;
  width: 160px;
  height: 55px;
  border-radius: 12px;
  background-color: #ffdb4d;
  border: none;
  outline: none;
  color: #ffffff;
  font-size: 1.7em;
  font-family: "Luckiest Guy", cursive;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, font-size 0.3s ease;
}

::ng-deep .custom-modal .ant-modal-footer .ant-btn:last-child:hover {
  background-color: #ffcc00;
  transform: scale(1.1);
}

// RESPONSIVE

@media screen and (max-width: 992px) {
  #header {
    height: 12vh;
  }

  .title_header {
    margin-top: 5%;
    font-size: 30px;
  }

  /* Boutons (pas de classe ciblée volontairement pour ne pas interférer avec design custom) */
  button {
    width: 25px;
    height: 25px;
  }

  span {
    width: 10px;
    height: 10px;
  }

  /* Avatar utilisateur */
  #username {
    display: none;
  }

  #username-avatar {
    width: 30px;
    height: 30px;
    padding: 5px;
    display: flex;
    justify-content: center;
  }

  #my-avatar {
    width: 15px;
    margin: 0;
  }

  .inner-box-actions {
    align-items: flex-end;
  }
}