#ranking {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-color: var(--secondary-bg-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}q

#ranking .title {
  position: absolute;
  top: -0.65em;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
  font-size: 1.8vw;
}
//
//@media screen and(max-width: 992px) {
//
//}
