#ranking {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 20vw;
  height: 77.5vh;
  border-radius: 15px;
  background-color: var(--secondary-bg-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}