.login-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
  height: 100%;
  max-height: 325px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 350px;
  background-color: #fff;
  gap: 10px;
}

.form-title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

.input {
  margin-top: 7.5px;
}

.form-error {
  color: red;
  font-size: 14px;
  align-self: center;
}

.buttonhidepassword {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.buttonform {
  border-radius: 5px;
}
