<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <h1 class="title luckiest-guy-regular">Pogos</h1>
  <button nz-button nzType="primary" class="back-button" routerLink="/">Retour !</button>

  <div class="form-box" fxLayout="column" fxLayoutAlign="center center">
    <h3 class="form-title luckiest-guy-regular">Inscription</h3>
    <form class="form" [formGroup]="signupForm" (ngSubmit)="onSubmit()">

      <!-- Pseudo -->
      <nz-input-group class="input" [nzSuffix]="suffixTemplateUser">
        <input type="text" placeholder="Pseudo" nz-input formControlName="pseudo" />
      </nz-input-group>
      <ng-template #suffixTemplateUser>
        <span nz-icon class="input-icon custom-icon-size" nzType="user"></span>
      </ng-template>

      <!-- Email -->
      <nz-input-group class="input" [nzSuffix]="suffixTemplateEmail">
        <input type="mail" placeholder="Email" nz-input formControlName="mail" />
      </nz-input-group>
      <ng-template #suffixTemplateEmail>
        <span nz-icon class="input-icon custom-icon-size" nzType="mail"></span>
      </ng-template>

      <!-- Mot de passe -->
      <nz-input-group class="input" [nzSuffix]="suffixTemplatePassword">
        <input [type]="isPasswordHided ? 'password' : 'text'" nz-input placeholder="Mot de passe"
          formControlName="password" />
      </nz-input-group>

      <ng-template #suffixTemplatePassword>
        <div class="suffix-container">
          <span nz-icon class="ant-input-password-icon" [nzType]="isPasswordHided ? 'eye-invisible' : 'eye'"
            (click)="isPasswordHided = !isPasswordHided"></span>
          <span nz-icon class="input-icon custom-icon-size" nzType="lock"></span>
        </div>
      </ng-template>

      <nz-input-group class="input" [nzSuffix]="suffixTemplateConfPassword">
        <input [type]="isConfirmPasswordHided ? 'password' : 'text'" nz-input placeholder="Confirmer le mot de passe"
          formControlName="confirmPassword" />
      </nz-input-group>

      <ng-template #suffixTemplateConfPassword>
        <div class="suffix-container">
          <span nz-icon class="ant-input-password-icon" [nzType]="isConfirmPasswordHided ? 'eye-invisible' : 'eye'"
            (click)="isConfirmPasswordHided = !isConfirmPasswordHided"></span>
          <span nz-icon class="input-icon custom-icon-size" nzType="lock"></span>
        </div>
      </ng-template>

      @if (signupForm.hasError('invalid_credentials')) {
      <p class="form-error">Identifiants incorrects</p>
      }
      @if (signupForm.hasError('invalid_mail')) {
      <p class="form-error">Email incorrect</p>
      }
      @if (signupForm.hasError('notMatching')) {
      <p class="form-error">Les mots de passe ne correspondent pas</p>
      }
      @if (signupForm.hasError('already_exists')) {
      <p class="form-error">Un compte existe déjà avec cet email</p>
      }

      <button nz-button class="submit-button" nzType="primary" nzBlock type="submit">S'inscrire</button>

      <a class="signup-link" routerLink="/login"><span>Se connecter</span></a>
    </form>
  </div>
</div>