@if (showPrivacy) {
  <nz-modal
    [(nzVisible)]="isVisible"
    [nzTitle]="title"
    [nzOkText]="okText"
    [nzCancelText]="cancelText"
    nzClassName="custom-modal"
    [nzClosable]="false"
    (nzOnOk)="handleOk()"
    (nzOnCancel)="handleCancel()"
  >
    <ng-container *nzModalContent>
      <div class="modal-body">
        <p><strong>ID de la partie :</strong> {{ gameId }}</p>

        <p><strong>Joueurs :</strong></p>
        <ul>
          @for (player of players(); track $index){
            <li>
              <img [ngSrc]="'/assets/avatar/' + (player.avatar?.toLowerCase() || 'default') + '.png'" alt="Avatar" class="avatar" height="48.1" width="51.2"/>
              {{ player.username ?? player.playerId }}
            </li>
          }
        </ul>
          <div>
            <p><strong>Partie privé :</strong></p>
            <label class="switch">
              <input type="checkbox" (change)="changePrivate()">
              <span class="slider round"></span>
            </label>
          </div>

        @if (initialBet() != -1){
          <label for="bet"><strong>Mise :</strong></label>
          <input
            id="bet"
            type="number"
            [(ngModel)]="betAmount"
            min="10"
            max="1000"
            step="10"
            class="bet-input"
          />
        }
      </div>
      {{errorMessage()}}
    </ng-container>
  </nz-modal>
} @else if(!showPrivacy) {
  <nz-modal
    [(nzVisible)]="isVisible"
    [nzTitle]="title"
    nzCancelText="Quitter"
    [nzOkDisabled]="true"
    nzClassName="custom-modal"
    [nzFooter]="modalFooter"
    [nzClosable]="false"
    (nzOnCancel)="handleCancel()"
  >
    <ng-template #modalFooter>
      <button nz-button style="background-color: #ff7875" (click)="handleCancel()">Quitter</button>
    </ng-template>
    <ng-container *nzModalContent>
      <div class="modal-body">
        <p><strong>ID de la partie :</strong> {{ gameId }}</p>

        <p><strong>Joueurs :</strong></p>
        <ul>
          @for (player of players(); track $index){
            <li>
              <img [ngSrc]="'/assets/avatar/' + (player.avatar?.toLowerCase() || 'default') + '.png'" alt="Avatar" class="avatar" height="48.1" width="51.2"/>
              {{ player.username ?? player.playerId }}
            </li>
          }
        </ul>
      </div>
      {{errorMessage()}}
    </ng-container>
  </nz-modal>
}
