<div class="main-content">

  <div nz-row id="my-profile-row">
    <div nz-col [nzXs]="24"  [nzSm]="24"  [nzMd]="24" [nzLg]="12" class="profile-col">
      <div id="profile-icon-selector">
        <p class="title-profile">Mon profil</p>
            <div id="selected-avatar">
              <img [src]="'/assets/avatar/' + selectedAvatar.toLowerCase() + '.png'" [alt]="selectedAvatar"
                   id="selected-avatar-image" />
              <p id="selected-avatar-name">{{ formattedAvatarName }}</p>
            </div>
            <p id="avatars-title">Choisis !</p>
            <div id="avatars-grid">
              @for (avatar of avatars; track avatar) {
                <div (click)="selectAvatar(avatar)">
                  <img [src]="'/assets/avatar/' + avatar.toLowerCase() + '.png'" class="avatars" [alt]="avatar" />
                </div>
              }
        </div>
      </div>
    </div>

    <div nz-col [nzXs]="24"  [nzSm]="24"  [nzMd]="24" [nzLg]="12" id="update-col">
      <div id="profile-updater" [formGroup]="updateProfileForm">
                    <div class="inputs">
                        <div class="pseudo-mail-div">
                            <p class="pseudo-mail-title">Mail :</p>
                            <p class="mail">{{user().mail}}</p>
                        </div>
                        <div class="pseudo-mail-div">
                            <p class="pseudo-mail-title">Mon pseudo :</p>
                            <div class="div-pseudo">
                                @if(!isEditing){
                                <p class="pseudo">{{user().pseudo}}</p>
                                } @else {
                                  <nz-form-control class="form-control" nzHasFeedback [nzErrorTip]="userErrorTpl">
                                    <nz-input-group class="input-update-profile">
                                        <input type="text" placeholder="Pseudo*" nz-input formControlName="pseudo"  (change)="hasChanges =true"/>
                                    </nz-input-group>
                                    <ng-template #userErrorTpl let-control>
                                        @if (control.errors?.['minlength'] && control.touched) {
                                        Entrez un nom d'au moins 3 caractères
                                        } @else if (control.errors?.['username_already_exists']) {
                                        Ce nom d'utilisateur est déjà pris
                                        }
                                    </ng-template>

                                </nz-form-control>
                                }
                                <button nz-button class="button-update-pseudo" nzType="primary" title="Amis"
                                    (click)="handleEdit()">
                                    <span nz-icon class="icon-button" nzType="edit" nzTheme="outline"></span>
                                </button>
                            </div>
                        </div>
                      <button nz-button class="submit-update-button"  style="margin-top: 15px" nzType="primary" nzBlock type="submit"
                              [disabled]="!hasChanges || updateProfileForm.invalid" (click)="updateProfile()">
                        Modifier
                      </button>
                    </div>
      </div>

        <div id="password-updater" [formGroup]="passwordForm">
          <div class="inputs">
          <div class="pseudo-mail-div">
            <p class="pseudo-mail-title">Mot de passe actuel :</p>
            <nz-form-control  nzHasFeedback [nzErrorTip]="currentPwdErrorTpl">
              <nz-input-group class="input-update-profile">
                <input type="password" placeholder="Mot de passe actuel*" nz-input formControlName="currentPassword" />
              </nz-input-group>
              <ng-template #currentPwdErrorTpl let-control>
                @if (control.errors?.['required']) {
                  Mot de passe actuel requis
                }
              </ng-template>
            </nz-form-control>
          </div>

          <div class="pseudo-mail-div">
            <p class="pseudo-mail-title">Nouveau mot de passe :</p>
            <nz-form-control class="form-control" nzHasFeedback [nzErrorTip]="newPwdErrorTpl">
              <nz-input-group class="input-update-profile">
                <input type="password" placeholder="Nouveau mot de passe*" nz-input formControlName="newPassword" />
              </nz-input-group>
              <ng-template #newPwdErrorTpl let-control>
                @if (control.errors?.['required']) {
                  Nouveau mot de passe requis
                } @else if (control.errors?.['minlength']) {
                  6 caractères minimum
                }
              </ng-template>
            </nz-form-control>
          </div>

          <button nz-button class="submit-update-button" style="margin-top: 20px" nzType="primary" nzBlock type="submit" [disabled]="passwordForm.invalid" (click)="updatePassword()">
            Mettre à jour le mot de passe
          </button>
            <button nz-button class="submit-update-button" style="margin-top: 10px; background-color: var(--pogos-button-danger);"  nzType="primary" nzBlock type="submit" (click)="this.isDeleteAccountModalVisible.set(true)">
              Supprimer mon compte
            </button>
          </div>
        </div>
        </div>
    </div>
  </div>

<app-modal-delete-account [isVisible]="isDeleteAccountModalVisible" (onCancel)="handleCancelDeletingAccount()"></app-modal-delete-account>
