<div class="main-content">

  <h1 class="title luckiest-guy-regular">Blackjack</h1>

  <button nz-button nzType="primary" (click)="open()">
    <span nz-icon nzType="check"></span>
    Tchat
  </button>

  <div id="game-table">
    <div class="symbols">
      <div class="icon">
        <img ngSrc="/assets/icons/coeur.png" alt="coeur" height="1024" width="1024"/>
      </div>
      <div class="icon">
        <img ngSrc="/assets/icons/pique.png" alt="pique" height="512" width="512"/>
      </div>
    </div>

    @if (blackJackDeck) {

      <div class="card-container">
        <div class="dealer">
          <h3 class="luckiest-guy-regular">Dealer</h3>
          <div class="card-hand">
            @for (card of blackJackDeck.dealerHand; track $index) {
              <img [ngSrc]=findCardImage(card) alt="OC" height="150" width="100"/>
            }
          </div>
        </div>

        <div class="player">
          <div class="card-hand">
            @for (card of blackJackDeck.playerHand; track $index) {
              @if (blackJackDeck.playerHand.size - 1 == $index) {
                <nz-badge [nzCount]="blackJackDeck.playerTotal">
                  <img [ngSrc]=findCardImage(card) alt="OC" height="150" width="100"/>
                </nz-badge>
              } @else {
                <img [ngSrc]=findCardImage(card) alt="OC" height="150" width="100"/>
              }
            }
          </div>
          <h3 class="luckiest-guy-regular" style="margin-top: 5px">Toi</h3>
          @if (blackJackDeck.message !== BlackJackMessage.CONTINUE) {
            <button nz-button nzType="primary" (click)="executeAction(BlackJackAction.RESTART)">
              Rejouer
            </button>
          }
        </div>
      </div>

    } @else {
      <div id="spinner-container">
        <nz-spin nzSimple nzSize="large"></nz-spin>
      </div>
    }

    <div class="symbols">
      <div class="icon">
        <img ngSrc="/assets/icons/trefle.png" alt="trefle" height="800" width="900"/>
      </div>
      <div class="icon">
        <img ngSrc="/assets/icons/carreau.png" alt="carreau" height="410" width="410"/>
      </div>
    </div>

  </div>

  <div class="game-actions">
    <button nz-button nzType="primary" [disabled]="isActionDisabled">
      <span nz-icon nzType="double-right"></span>
      Miser double
    </button>

    <button nz-button nzType="primary" [disabled]="isActionDisabled">
      <span nz-icon nzType="double-left"></span>
      Diviser
    </button>

    <div id="coins">
      <div class="chips">
      <button class="chip-button">
        <div class="chip-container">
          <img ngSrc="assets/chips/blue_chip.png" alt="blue_chip" height="35" width="35"/>
          <nz-badge [nzCount]="5" nzStandalone [nzStyle]="{ backgroundColor: '#fff', color: '#999', boxShadow: '0 0 0 1px #d9d9d9 inset' }"/>
        </div>
      </button>
      <button class="chip-button">
        <div class="chip-container">
          <img ngSrc="assets/chips/green_chip.png" alt="green_chip" height="35" width="35"/>
          <nz-badge [nzCount]="10" nzStandalone [nzStyle]="{ backgroundColor: '#fff', color: '#999', boxShadow: '0 0 0 1px #d9d9d9 inset' }"/>
        </div>
      </button>

      <button class="chip-button">
        <div class="chip-container">
          <img ngSrc="assets/chips/red_chip.png" alt="red_chip" height="35" width="35"/>
          <nz-badge [nzCount]="50" nzStandalone [nzStyle]="{ backgroundColor: '#fff', color: '#999', boxShadow: '0 0 0 1px #d9d9d9 inset' }"/>
        </div>
      </button>
      <button class="chip-button">
        <div class="chip-container">
          <img ngSrc="assets/chips/yellow_chip.png" alt="white_chip" height="35" width="35"/>
          <nz-badge [nzCount]="100" [nzOverflowCount]="150" nzStandalone  [nzStyle]="{ backgroundColor: '#fff', color: '#999', boxShadow: '0 0 0 1px #d9d9d9 inset' }"/>
        </div>
      </button>
      </div>
      <nz-divider nzType="vertical"></nz-divider>
      <div class="user-coins">
        Coins
        <nz-badge
          nzStandalone
          [nzCount]="300"
          [nzOverflowCount]="999"
          [nzStyle]="{ backgroundColor: '#fff', color: '#999', boxShadow: '0 0 0 1px #d9d9d9 inset' }"
        ></nz-badge>
      </div>
    </div>

    <button nz-button nzType="primary" (click)="executeAction(BlackJackAction.HIT)" [disabled]="isActionDisabled">
      <span nz-icon nzType="plus"></span>
      Tirer
    </button>

    <button nz-button nzType="primary" (click)="executeAction(BlackJackAction.STAND)" [disabled]="isActionDisabled">
      <span nz-icon nzType="check"></span>
      Rester
    </button>

  </div>

  <app-chat [visible]="visible"></app-chat>

</div>
