<div class="chat">
  <div id="messages-container" #messagesContainer>
    @for (message of messages(); let i = $index; track message) {
      <div
        class="message-base"
        [ngClass]="[
          message.username === username ? 'self-message' : 'other-message',
          i === messages().length - 1 ? 'message-enter' : ''
        ]"
      >
        <p><strong>{{ message.username }}</strong> : {{ message.text }}</p>
      </div>
    }
  </div>

<div id="input">
    <nz-input-group class="input" [nzSuffix]="suffixTemplate">
      <input type="text"
             nz-input
             [(ngModel)]="currentMessage"
             (keyup)="onKeyPress($event)"
             placeholder="Écris un message..." />
    </nz-input-group>
    <ng-template #suffixTemplate>
      <span nz-icon nzType="send" class="input-icon custom-icon-size" (click)="sendMessage()"></span>
    </ng-template>
  </div>

</div>
