<app-header [canLeave]="true" [leaveLink]="'/games'" [title]="'Profil'"></app-header>
<div class="main-content">
  <div class="profile-actions-selector">

    <div class="back-image">
      <img src="assets/pogos-logo.webp" id="image" alt="pogos-logo" />
      
      <span style="font-size: 2em;" class="luckiest-guy-regular">{{user.pseudo}}</span>

      <app-pogos-button style="width: 100%;" [title]="'Préférences'" ></app-pogos-button>

      <app-pogos-button style="width: 100%;" [title]="'Copains'" ></app-pogos-button>

      <app-pogos-button style="width: 100%;" [title]="'Classements'"></app-pogos-button>

    </div>

    <nz-divider class="divider-profile" nzType="vertical"></nz-divider>

    <app-pogos-button [title]="'Mon profil'" routerLink="/profile/my-profile"></app-pogos-button>

    <app-pogos-button [title]="'Copains'" routerLink="/profile/friends"></app-pogos-button>

    <app-pogos-button [title]="'Parties'" routerLink="/profile/game-history"></app-pogos-button>

  </div>

  <div class="profile-actions">
    <router-outlet></router-outlet>
  </div>
</div>