.main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70vh;
    background-color: var(--secondary-bg-color);
    border-radius: 15px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 85%;
}

.title-friends {
    display: flex;
    align-items: flex-start;
    font-weight: bold;
    width: 93%;
    height: auto;
    margin: 1em 0 0 0;
    font-size: 3.25em;
    font-family: "Luckiest Guy", cursive;
}

::ng-deep nz-tabset {
    width: 96%;
    height: 100%;
    border: none;
    outline: none;
}

::ng-deep .ant-tabs-top>.ant-tabs-nav::before {
    border: none;
}

::ng-deep nz-tabset .ant-tabs-nav-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    border: none;
    margin-top: -0.5em;
    margin-bottom: -1em;
}

::ng-deep .ant-tabs-tab-btn {
    margin: 1em -1em 1em 0;
    border: none;
    outline: none;
    background-color: var(--pogos-button-bg-hover);
    padding: 10px 10px 7.5px 10px;
    border-radius: 16px;
    font-size: 1em;
    color: white;
    cursor: pointer;
    font-family: "Luckiest Guy", cursive;
}

::ng-deep .ant-tabs-card>.ant-tabs-nav .ant-tabs-tab {
    background-color: transparent;
    border-radius: 16px;
    color: white;
}

::ng-deep .ant-tabs-card>.ant-tabs-nav .ant-tabs-tab,
::ng-deep .ant-tabs-card>div>.ant-tabs-nav .ant-tabs-tab {
    border: none !important;
}

::ng-deep .ant-tabs>.ant-tabs-nav .ant-tabs-nav-wrap,
::ng-deep .ant-tabs>div>.ant-tabs-nav .ant-tabs-nav-wrap {
    outline: none !important;
    border: none !important;
    background-color: var(--secondary-bg-color);
}

::ng-deep nz-tabset .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    border-radius: 16px;
    background-color: var(--pogos-button-bg);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3);
    background-image: none;
    font-size: 1em;
    color: white;
}

::ng-deep nz-tabset .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn:hover {
    background-color: var(--pogos-button-bg-hover);
    color: white;
}

::ng-deep nz-tabset .ant-tabs-tab .ant-tabs-tab-btn:active {
    color: var(--pogos-button-text-active);
}