<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <h1 class="title luckiest-guy-regular">Pogos</h1>

  <div class="form-box" fxLayout="column" fxLayoutAlign="center center">
    <h3 class="form-title luckiest-guy-regular">Connexion</h3>
    <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <nz-input-group nzAddOnAfterIcon="mail">
        <input type="text" placeholder="adresse mail" nz-input formControlName="login" />
      </nz-input-group>

      <nz-input-group [nzSuffix]="suffixTemplate" nzAddOnAfterIcon="lock">
        <input
          [type]="isPasswordHided ?  'password' : 'text'"
          nz-input
          placeholder="mot de passe"
          formControlName="password"
        />
      </nz-input-group>
      <ng-template #suffixTemplate>
      <span
        nz-icon
        class="ant-input-password-icon"
        [nzType]="isPasswordHided ? 'eye-invisible' : 'eye'"
        (click)="isPasswordHided = !isPasswordHided"
      ></span>
      </ng-template>
      @if (loginForm.hasError('invalid_credentials')) {
        <p class="form-error">Identifiants incorrects</p>
      }

      <button nz-button nzType="primary" nzBlock [disabled]="loginForm.invalid">Se connecter</button>
      <a routerLink="/signup"><span>se creéer un compte</span></a>
    </form>
  </div>
</div>
