@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Luckiest+Guy&display=swap');

body,
* {
  margin: 0;
  padding: 0;
}

body {

  #image {
    content: url('../src/assets/pogos-logo-light.webp');
  }

  transition: background-color 0.1s, color 0.1s;
  
  --primary-bg-color: antiquewhite; // BACKGROUND
  --primary-title-color: black; // TEXT TITLE
  --primary-text-color: black; // TEXT GENERAL
  --secondary-bg-color: #FFF8EB; // BACKGROUND BUTTON
  --button-bg-hover: #FFFFFF; // BACKGROUND BUTTON HOVER
  --pogos-button-bg: #f7d58c; // MENU POGOS BACKGROUND BUTTON
  --pogos-button-bg-hover: #ffe3a8; // MENU POGOS BACKGROUND BUTTON HOVER

  --input-code-bg-color: white; 

  --table-color: #2e9a3e; // GREEN TABLE COLOR

  --focus-button: rgba(247, 213, 140, 0.6); // BUTTON FOCUS

  .primary-text-style {
    text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.2), /* Ombre grise */;
    color: #FFD78A;  
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #B7B895;
  }
  
  .secondary-text-style {
    text-shadow: 1px 1px 0.5px black, /* Ombre grise */;
    color: #FFD78A;  
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgb(148, 143, 143);
  }
  &.dark-theme {
    #image {
      content: url('../src/assets/pogos-logo.webp');
    }

    --primary-bg-color: #070E1C; // BACKGROUND
    --primary-title-color: #DEE1E9; // TEXT TITLE
    --primary-text-color: #DEE1E9; // TEXT GENERAL
    --secondary-bg-color: #2D3443; // BACKGROUND BUTTON
    --button-bg-hover: #4A4E57; // BACKGROUND BUTTON HOVER
    --pogos-button-bg: #214484; // MENU POGOS BACKGROUND BUTTON
    --pogos-button-bg-hover: #365286; // MENU POGOS BACKGROUND BUTTON HOVER

    --input-code-bg-color: rgb(217, 217, 231); 

    --table-color: #197126; // GREEN TABLE COLOR 

    --focus-button: rgba(17, 22, 41, 0.6); // BUTTON FOCUS

    .primary-text-style {
      text-shadow: 4px 4px 0px rgba(255, 255, 255, 0.2), /* Ombre grise */;
      color: var(--primary-title-color);  
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: #70798a;
    }

    .secondary-text-style {
      text-shadow: 1px 1px 8px black, /* Ombre grise */;
      color: var(--secondary-text-color);  
      -webkit-text-stroke-width: 0.5px;
      -webkit-text-stroke-color: rgb(59, 59, 94)
    }
  }
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}

.main-content {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-button {
  background-color: var(--secondary-bg-color);
  font-size: 25px;
  border-radius: 10%;
  border-color: var(--secondary-bg-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
  width: 50%;
  height: 30%;
}

.main-button span {
  font-size: 1.5vw;
}

.main-button:hover {
  background-color: var(--button-bg-hover);
  border: none;
  color: #FFD78A;
}

.luckiest-guy-regular {
  margin: 0;
  font-family: "Luckiest Guy", cursive;
  font-style: normal;
  color: var(--primary-text-color);
}

.lilita-one-regular {
  font-family: "Lilita One", serif;
  font-weight: 400;
  font-style: normal;
}

