<app-header [canLeave]="false" [title]="title"></app-header>

<div class="main-content">
  <div id="actions">

    <div id="game-selector">

      <img ngSrc="assets/pogos-logo.jpeg" alt="pogos-logo" height="150" width="150">

      <button nz-button nzType="primary" (click)="onTitleChange('BlackJack')">BlackJack</button>
      <button nz-button nzType="primary" (click)="onTitleChange('Uno')" disabled>Uno</button>
      <button nz-button nzType="primary" (click)="onTitleChange('Tarot')" disabled>Tarot</button>
      <button nz-button nzType="primary" (click)="onTitleChange('Poker')">Poker</button>

    </div>


    <div id="game-actions">

      <div id="top-buttons">
        <button nz-button class="main-button luckiest-guy-regular" [routerLink]="['/games', title.toLowerCase()]" [queryParams]="{ gameType: 'solo' }">Jouer en solo</button>
        <button nz-button class="main-button luckiest-guy-regular" [routerLink]="['/games', title.toLowerCase()]" [queryParams]="{ gameType: 'multi' }">Jouer en multijoueur</button>
      </div>

      <div id="bottom-button">
        <button nz-button class="main-button luckiest-guy-regular" >Créer une partie privée</button>
      </div>

    </div>

    <app-ranking></app-ranking>

  </div>


</div>
