.main-content {
  height: 80vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row {
  width: 100%;
}

.col-wrapper {
  display: flex;
  justify-content: center;
}

.game-selector-box {
  height: 70vh;
  width: 100%;
  margin: 10px;
}

.game-buttons-box{
  height: 70vh;
  width: 100%;
  margin: 10px;
}

.game-ranking-box {
  height: 70vh;
  width: 100%;
  margin: 10px;
}

#mobile-join-code{
  display: none;
}

@media screen and (max-width: 992px) {
  .game-selector-box {
    height: 50px;
  }

  .game-buttons-box {
    height: 300px;
  }

  .game-ranking-box {
    height: 100px;
  }

  #computer-join-code {
    display: none;
  }

}
