<app-header [title]="title" [canLeave]="false"></app-header>
<div class="main-content">
  <div class="row" nz-row [nzGutter]="{ xs: 15, sm: 15, md: 32, lg: 32 }">

    <div nz-col nzXs="24" nzSm="24" nzMd="24" [nzLg]="6" [nzXl]="{ span: 6 }" class="col-wrapper">
      <div class="game-selector-box">
        <app-game-selector></app-game-selector>
        <br>
        <app-box-join-code id="computer-join-code"></app-box-join-code>
      </div>
    </div>

    <div nz-col nzXs="24" nzSm="24" nzMd="24" [nzLg]="12" [nzXl]="{ span: 12 }" class="col-wrapper">
      <div class="game-buttons-box">
        <app-game-buttons (showModalEvent)="showModal()"></app-game-buttons>
      </div>
    </div>

    <div nz-col nzXs="24" nzSm="24" nzMd="24" [nzLg]="6" [nzXl]="{ span: 6 }" class="col-wrapper">
      <div class="game-ranking-box">
        <app-ranking></app-ranking>
      </div>
    </div>

    <app-modal
      [isVisible]="isWaitingRoomModalVisible"
      [title]="'Salle d\'attente️'"
      [description]="getModalDescription()"
      [okText]="'Oui'"
      [cancelText]="'Non'"
      (onOk)="handleOkMiddle()"
    ></app-modal>

  </div>
</div>
