.main-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 88vh;
  padding: 20px 35px;
}

.left-part {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 20%;
  height: 100%;
}

.back-image {
  width: 77.5%;
  border-radius: 15px;
  background-color: var(--pogos-button-bg);
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.15);
}

.game-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 55%;
}

#image {
  width: 50%;
  height: auto;
  border-radius: 15px;
}

#game-selector {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  width: 100%;
  height: 82.5%;
  border-radius: 15px;
  background-color: var(--secondary-bg-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.box-join-code {
  padding: 10%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10%;
  border-radius: 15px;
  background-color:  var(--secondary-bg-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.title-join-code {
  color: white;
  position: absolute;
  top: -1em;
  align-items: center;
  font-size: 1.7vw;
}

.description-join-code {
  display: flex;
  align-items: center;
}

.description-join-code p {
  margin-top: 0.4em;
  font-size: 1.2vw;
}

.input-join-code {
  width: 100%;
  height: 90%;
  padding: 5px;
  text-align: center;
  margin-left: 1em;
  border-radius: 7.5px;
  font-size: 1.2em;
  border: none;
  background-color: var(--input-code-bg-color);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  color: black;
}

#game-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 60px;
  width: 65%;
  height: 100%;
}

#top-buttons,
#bottom-button {
  display: flex;
  justify-content: space-around;
  padding: 15px;
}

#top-buttons {
  width: 100%;
  height: 50%;
}

#bottom-button {
  width: 90%;
  height: 30%;
}

#top-buttons button {
  width: 40%;
  border-radius: 15px;
  height: 100%;
}

#bottom-button button {
  width: 100%;
  border-radius: 15px;
  height: 100%;
}

.rankings {
  width: 20%;
  height: 90%;
}