<app-header [canLeave]="false" [title]="'Pogos'"></app-header>

<div class="main-content">
  <div class="left-part">
    <div id="game-selector">
      <div class="back-image">
        <img src="/assets/pogos-logo.webp" id="image" alt="pogos-logo" />
      </div>
      <div class="game-buttons">
        <app-pogos-button style="width: 100%;" [title]="'BlackJack'" (click)="onTitleChange('BlackJack')"></app-pogos-button>
        <app-pogos-button style="width: 100%;" [title]="'Uno'" (click)="onTitleChange('Uno')"></app-pogos-button>
        <app-pogos-button style="width: 100%;" [title]="'Tarot'" (click)="onTitleChange('Tarot')"></app-pogos-button>
        <app-pogos-button style="width: 100%;" [title]="'Poker'" (click)="onTitleChange('Poker')"></app-pogos-button>
      </div>
    </div>
    <div class="box-join-code">
      <p class="title-join-code lilita-one-regular secondary-text-style">Rejoindre !</p>
      <div class="description-join-code">
        <p class="luckiest-guy-regular secondary-text-style">Code</p>
        <input nz-input class="input-join-code lilita-one-regular" type="text" />
      </div>
    </div>
  </div>
  <div id="game-actions">
    <div id="top-buttons">
      <button nz-button class="main-button luckiest-guy-regular secondary-text-style" [routerLink]="['/games', title.toLowerCase()]"
        [queryParams]="{ gameType: 'solo' }">Jouer en solo</button>
      <button nz-button class="main-button luckiest-guy-regular secondary-text-style" [routerLink]="['/games', title.toLowerCase()]"
        [queryParams]="{ gameType: 'multi' }">Jouer en <br /> multijoueur</button>
    </div>
    <div id="bottom-button">
      <button nz-button class="main-button luckiest-guy-regular secondary-text-style">Créer une partie privée</button>
    </div>
  </div>
  <div class="rankings">
    <app-ranking></app-ranking>
  </div>
</div>