
#home-page{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: antiquewhite;
}

#home-page .center-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#home-page .center-div h1{
  font-size: 2rem;
  font-weight: bold;
}


.right-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
